mat-card{
    width: 350px;
    display: block;
    margin: 10px auto 10px auto;
}

mat-card-title{
    text-align: center;
}

.spinner{
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}